body{
	
	background-image: url('./assests/demon.jpg');
	height: auto;
    width: auto;

 }

h1{

	text-align: center;
	color: white;


}
h2{
	color: whitesmoke;
	text-align: center;
}

video{
	width: 320;
	height: 240;
}